/*Logo*/

.logo{
  width: 50px;
}

/*Nav links*/

nav a.nav-link {
  cursor: pointer;
}

.navbar-nav > li > a {
  color: plum !important;
  margin-right: 1vw;
  margin-left: 1vw;
}

img {
  width: 100%;
}
